<%- include('partials/head') %> 
  <body>
    <%- include('partials/navbar')%>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod rerum
      temporibus magnam praesentium dolor voluptates iusto maxime repellendus
      mollitia porro illo repellat labore, velit incidunt deleniti autem quae
      dicta tempore?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore quos modi
      eaque, iure nostrum doloremque porro, consequatur debitis libero excepturi
      nisi accusamus enim delectus laborum minima tempore reiciendis
      consequuntur a.
    </p>
  </body>
</html>
